doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.container.listing-reg
      header
        img(src='/images/list-icon.png' alt='Lists everywhere')
        a.button Logout
      main
        block content
      footer
        block feet
          p Made with love! - Midnight Butterfly
