doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Margarine|Oswald')
  body
    nav
        ul
          h1 ToDo List
          li
            a(href='/') Home
          if user
            li
              a(href='/tasks/add') Add Task
          if user
            li
              a(href='/users/logout') Logout
          else
            li
              a(href='/tasks/add') Add Task
            li
              a(href='/users/register') Register
            li
              a(href='/users/login') Login

    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      main
        block content
      footer
          p Made with love! - Midnight Butterfly
    script(src='/bower_compoments/jquery/dist/jquery.js')
    script(src='/bower_compoments/bootstrap/dist/js/bootstrap.js')
    script(src='/js.main.js')
