doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
  header
    img(src='/images/list-icon.png' alt='Lists everywhere')
    a.button Logout
  main
    
  .container.Register
    a.button REGISTER!
    
  .cotainer.LogIn
    a.button LOG IN!
    
    block content
