extends layout

block content
  p Welcome to #{title}

  if tasks.length
    table.listing-table.table-dark.table-striped
      tr
        th
          h4 Task
        th
          h4 Description
      each task in tasks
        tr
          td= task.taskName
          td= task.taskContent
  else
    p No tasks yet!
