extends layout

block content
  h1 #{title}
  p
    form(action="." method="POST")
    label(for="taskName") Task name:

    input(
      type="text"
      id="taskName"
      name="taskName"
    )

    input(type="submit" value="Submit")
