header {
    background: #FF5A09;
    height: 150px;
    width: 99%;
    margin: 0 auto;
    padding: 15px;
}

header img {
    max-width: 150px;
    margin-right: 600px;
}

header a.button {
    clear:left;
    background: #393939;
    color: #be4f0c;
    padding: 10px;
}

body {
    background: #393939;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main{
    background: #393939;
    width:99%;
    float: left;
    padding: 40px;
}

/*          TYPOGRAPHY          */

h1, h2, h3 {
    font-size: 30px;
    color: #FF5A09;
}

h4, h5, h6 {
    font-size: 15px;
    color: #be4f0c;
}

p {
    color: #ffffff;
}

a {
    color: #be4f0c;
 }
