body {
    background: #393939;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main{
    background: #393939;
    width:56.57%;
    float: left;
    height: 600px;
    padding: 40px;
}

/*          TYPOGRAPHY          */

h1, h2, h3 {
    color: #FF5A09;
}

p {
    color: #ffffff;
}

a {
    color: #be4f0c;
 }
